div{
    width: 981px;
    height: 560px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/038/985/779/non_2x/ai-generated-tranquil-scene-of-green-forest-in-summer-generated-by-ai-free-photo.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    opacity: 0.5;
}


.description{
    color: white;
}