html {
  height: 100%;
  width: 100%;
}

body{
  color: rgb(149, 17, 17);
}

#page-title{
  color: black;
}

.header-nav{
  color: black;
}

.footer-nav{
  color: black;
}

p{
  color: rgb(12, 84, 12);
  font-weight: bold;
}

h1, h2{
  color: olive;
  font-size: 30px;
}

div{
  color: black;
}

.link{
  color:magenta;
}

a{
  color: green;
}

