html {
    height: 100%;
    width: 100%;
    color: olive;
  }

  #welcome-msg {
    color: chocolate;
    font-weight: bold;
  }
  .header-nav{
    background-color: blanchedalmond;
    color: black;
    font-style: italic;
  }

  .footer-nav{
    background-color: beige;
    color:black;
    font-style: normal;
  }

  a{
    color:brown;
  }

  li:hover{
    color:blueviolet;
  }
  
  li:first-of-type, li:last-of-type{
    font-size:large;
    font-weight:bold;
  }